{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Community Register</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">


                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Register Page</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <form id="community_submit" action="{{ path('community_post') }}" method="post">

                                <!-- universities -->
                                <div class="form-group">
                                    <label>Choose University</label>
                                    <select id="university_id" class="form-control" name="university_id">
                                        {% for university in universities %}
                                            <option value="{{ university.id }}">{{ university.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <!-- community name -->
                                <div class="form-group">
                                    <label>Community Name</label>
                                    <input type="text" class="form-control" name="community_name" placeholder="Enter Community Name">
                                </div>

                                <!-- community Description -->
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" name="community_description" placeholder="Enter Community Description"></textarea>
                                </div>

                                <button type="submit">Register!</button>
                            </form>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxGetBoroughListByCity(cityId){

            // -- 1 --
            // open alert box to inform user

            // -- 2 --
            // ajax call
            $.post("{{ path('university_borough_list') }}" , {
                cid : cityId

            }).always(function(){


            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- remove options
                    $('#address_borough_id').children().remove();

                    // -- 2.2.2 -- insert new options
                    data.content.forEach(function(borough) {
                        $('#address_borough_id').append($('<option>', {
                            value: borough['borough_id'],
                            text: borough['borough_name']
                        }));
                    });

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' could not found any borough');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while getting borough list');
                }
            });
        }

/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/
        function checkCommunity(){
            return true;
        }

/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $( "#community_submit" ).submit(function( event ) {


            if(!checkCommunity()){
                alert( "Form not valid" );
                event.preventDefault();
            }

        });

    </script>
{% endblock %}
