<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Admin</title>
    </head>
    <body>

        This is the admin page


        <a href="/logout">Logout</a>

    </body>
</html>
