{% extends 'AppBundle::admin_base.html.twig' %}

{% block content %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Community Users
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('community_list') }}"> Community</a></li>
                <li class="active">Community Users</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- /.row -->
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-info">

                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Community Admin User List</h3>
                        </div>
                        <!-- /.box-header -->

                        <!-- /.box-body -->
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>User email</th>
                                    <th>User Role</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for communityUser in communityUsers %}
                                    <tr>
                                        <td>{{ communityUser.user.username }}</td>
                                        <td>{{ communityUser.user.email }}</td>
                                        <td>{{ communityUser.status }} </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>User email</th>
                                    <th>User Role</th>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->


            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">

                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Community User Add</h3>
                        </div>
                        <!-- /.box-header -->

                        <!-- /.box-body -->
                        <div class="box-body">

                            <b><i> *** Topluluk yöneticisi ekleme işlemi yapım aşamasındadır... *** </i></b>

                            {#<div class="form-group">#}
                                {#<label>User add panel</label>#}
                                {#<input type="text" class="form-control" name="university_user_mail" placeholder="Enter University User Mail">#}
                            {#</div>#}

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.column -->
            </div>
            <!-- /.row -->



        </section>
        <!-- /.content -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          CHECKER FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

    </script>
{% endblock %}
