{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Settings
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Settings</li>
                    <li class="active">Emails</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Setting left side  -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-primary">
                            <div class="box-body">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Emails</a></li>
                                    <li><a href="#">Setting TEST 1 </a></li>
                                    <li><a href="#">Setting TEST 2 </a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col left side  -->


                    <!-- Setting body side  -->
                    <div class="col-md-9">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h3 class="box-title">Email Settings</h3>
                            </div>
                            <div class="box-body">
                                Your primary Guppy email address will be used for account-related notifications (e.g. account changes and billing receipts) as well as any web-based Guppy Events operations.
                                <br><br>
                                <div class="col-xs-12">
                                    <!-- /.box-header -->
                                    <div class="table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tr>
                                                <th>Email</th>
                                                <th>University</th>
                                                <th>Status</th>
                                                <th>Expire Date</th>
                                            </tr>



                                            <tr>
                                                <td>kemalsami.karaca@ug.bilkent.edu.tr</td>
                                                <td>Bilkent University</td>
                                                <td><span class="label label-success">Approved</span></td>
                                                <td>2016-09-10</td>
                                            </tr>
                                            {#<tr>#}
                                                {#<td>219</td>#}
                                                {#<td>Alexander Pierce</td>#}
                                                {#<td>11-7-2014</td>#}
                                                {#<td><span class="label label-warning">Pending</span></td>#}
                                                {#<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td>657</td>#}
                                                {#<td>Bob Doe</td>#}
                                                {#<td>11-7-2014</td>#}
                                                {#<td><span class="label label-primary">Approved</span></td>#}
                                                {#<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>#}
                                            {#</tr>#}
                                            {#<tr>#}
                                                {#<td>175</td>#}
                                                {#<td>Mike Doe</td>#}
                                                {#<td>11-7-2014</td>#}
                                                {#<td><span class="label label-danger">Denied</span></td>#}
                                                {#<td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>#}
                                            {#</tr>#}
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>

                            </div>
                            <!-- /.box-body -->

                        </div>
                    </div>
                    <!-- /.col -->

                </div>
                <!-- /.row -->
            </section>
        </div>
        <!-- /.container -->
    </div>

{% endblock %}


{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/
        function ajaxAddUniversityMailServer(){

            // -- 1 --

            // -- 2 -- ajax call
            $.post("{{ path('university_add_mailserver') }}" , {
                uid : 'university.id',
                mailServer : $('#university_add_mail_modal_mail').val()

            }).always(function(){
                $('#university_add_mail_modal_mail').val('')
                $('#university_add_mail_modal').modal('hide');
            }).done(function(data){

                // -- 2.1 -- CONSOLE
                if(debugMode)
                    console.log(data);

                // -- 2.2 -- sonuc düzenlenir
                if(data.resultText == 'SUCCESS'){

                    // -- 2.2.1 -- add mail to list
                    row =   "<tr>" +
                                "<td value="+data.content['id']+">" + data.content['id'] + "</td>" +
                                "<td value="+data.content['name']+">" + data.content['name'] + "</td>" +
                                "<td><div class='btn-group'>" +
                                    "<button type='button' class='btn btn-info'>Action</button>" +
                                    "<button type='button' class='btn btn-info dropdown-toggle' data-toggle='dropdown'>" +
                                    "<span class='caret'></span>" +
                                    "<span class='sr-only'>Toggle Dropdown</span>" +
                                    "</button>" +
                                        "<ul class='dropdown-menu' role='menu'>" +
                                            "<li><a class='university_remove_mailserver' value='"+ data.content['id']+ "' >Delete</a></li>" +
                                        "</ul>" +
                                    "</div>" +
                                "</td>"
                            "</tr>";
                    $("#university_mail_list").append(row);

                }else if(data.resultText == 'SUCCESS_EMPTY'){
                    alert('Warning -- ' + ' SUCCESS_EMPTY');
                }else if(data.resultText == 'FAILURE_PERMISSION'){
                    alert('Warning -- ' + ' you are not authorization for this operation');
                }else{
                    alert('Warning -- ' + ' error occured while inserting mail server name to university');
                }
            });
        }


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/
        $('#university_add_mail_modal_summit').on('click',function (event) {
            ajaxAddUniversityMailServer();
        });

    </script>
{% endblock %}
