{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Community Home{% endblock %}


{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->
    <div class="blurred-header">
        {% image 'theme/assets/img/event_header.jpeg' %}
            <img src="{{ asset_url }}" class="img-responsive" alt="" />
        {% endimage %}
    </div>

    <section class="guppy-section align-center">
        <div class="container">

            <div class="col-md-1">
            </div>
            <!-- -------------- CONTENT -------------- -->
            <div class="event-content col-md-12">

                <div class="event-content-header">
                    <div class="col-md-8 event-content-header-image">
                        {% image 'theme/assets/img/event_header.jpeg' %}
                            <img src="{{ asset_url }}" class="img-responsive" alt="" />
                        {% endimage %}

                    </div>
                    <div class="event-content-header-detail col-md-4">
                        <div class="event-content-header-time">
                            <div class="event-content-header-time-month">DEC</div>
                            <div class="event-content-header-time-day">17</div>
                        </div>
                        <div class="event-content-header-title">
                            Influencer Talks Ankara Vol.I
                        </div>
                        <div class="event-content-header-owner">
                            by Influencer Talks
                        </div>
                        <div class="event-content-header-price">
                            Free
                        </div>
                    </div>
                </div>

                <div class="event-share-register align-right" style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid; border-top: 1px solid; border-bottom-color: #AAA; border-top-color: #AAA;">
                    <a href="#" class="btn" ><span>REGISTER</span></a>
                </div>
                <div class="event-content-body">
                    <div class="fade active in">
                        <div class="col-sm-1 align-left event-content-body-description"></div>
                        <div class="col-sm-6 align-left event-content-body-description">
                            <h6>DESCRIPTION</h6>
                            <p><strong>Yaratıcılığınıza güveniyor musunuz? Sosyal medyada içerik paylaşmaktan keyif mi alıyorsunuz? Aktif sosyal medya kullanıcısı mısınız?</strong></p>
                            <p>Influencer Talks sosyal medya influencer’larindan ilham almak ve onlarla bağlantı kurabilmek amacıyla oluşturulmuş bir organizasyondur. Bu hareketin temel felsefesi, sosyal medya kullanımıyla ilgili sorular sorarak kullanım alanının daha verimli bir şekilde değerlendirilmesini sağlamak.</p>
                            <p><strong>Sizi Neler Bekliyor?</strong></p>
                            <p>Üç ya da daha fazla influencer ile kişisel markanızı nasıl geliştireceğiniz, müşteri kitlenizi nasıl geliştirebileceğiniz ve onların hatalarından öğrenecekleriniz hakkında sohbet edebiliceksiniz!</p>
                            <p><strong>Neden Bunu Yapıyoruz?</strong></p>
                            <p>Çünkü sosyal medya, reklam kültürünün en önemli parçası olma yolunda. Bu yüzden, onu kullanırken hayal kırıklıkları yaşamamak için önce hayatımızı nasıl şekillendirdiğini anlamalıyız.</p>
                            <p><br></p>
                        </div>
                        <div class="col-sm-5 align-left event-content-body-description-date">
                            <h6>DATE AND TIME</h6>
                            <p>Sat, December 17, 2016</p>
                            <p>6:00 PM – 8:30 PM Eastern European Standard Time Turkey Time</p>
                            <a>Add to Calendar</a>
                        </div>
                        <div class="col-sm-5 align-left event-content-body-description-location">
                            <h6>LOCATION</h6>
                            <p>CerModern</p>
                            <p>3 Altınsoy Cad. </p>
                            <p>Ankara, 06101</p>
                            <a>View Map</a>
                        </div>


                        <div class="col-sm-12 align-left"></div>
                        <div class="col-sm-1 align-left"></div>
                        <div class="col-sm-11 align-left">
                            <h6>TAGS</h6>
                            <section>
								<span>
									<a href="/things-to-do/turkey--ankara/" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbAddress" data-event-category="listing" data-event-label="/things-to-do/turkey--ankara/" data-automation="BreadcrumbAddress" dorsal-guid="d0b61986-de02-c4d5-208f-ec1afff426db" data-xd-wired="track-link">
                                        <span>Things to do in Ankara</span>
                                    </a>
								</span>
								<span>
									<a href="/d/turkey--ankara/seminars/" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbFormat" data-event-category="listing" data-event-label="/d/turkey--ankara/seminars/" data-automation="BreadcrumbFormat" dorsal-guid="5485c910-c976-14ee-8ec5-f9db7b39c3c4" data-xd-wired="track-link">
                                        <span>Seminar</span>
                                    </a>
								</span>
                            </section>
                        </div>

                        <div class="col-sm-1 align-left"></div>
                        <div class="col-sm-10 align-left" style="height: 1px; background: gray; margin-top: 30px; margin-bottom: 30px;"></div>
                        <div class="col-sm-12 align-left"></div>

                        <div class="col-sm-1 align-left"></div>
                        <div class="col-sm-12 align-left" style="padding-top: 20px; padding-bottom: 100px;">
                            <div style="text-align: center">
                                <h6>Influencer Talks</h6>
                                <div>Organizer of Influencer Talks Ankara Vol.I</div>
                                <a>PROFILE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>CONTACT</a>
                            </div>
                        </div>

                        <div class="col-sm-12 event-content-body-map">
                            {% image 'theme/assets/img/event_map.png' %}
                                <img src="{{ asset_url }}" class="img-responsive" alt="Harita" />
                            {% endimage %}
                        </div>

                        <div class="col-sm-12 align-left" style="padding-top: 20px; margin-bottom: 100px;">
                            <div style="text-align: center">
                                <h6>Influencer Talks Ankara Vol.I </h6>
                                at
                                <h6>CerModern</h6>
                                3 Altınsoy Cad., Ankara, 06101
                            </div>
                        </div>
                        <div class="col-sm-12 align-left" style="height: 400px;"></div>
                    </div>

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>

{% endblock %}





{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          GLOBAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/

        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#university_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/

        $(document).on('click', '.community-content-header-edit i' , function (event) {
            alert("Kulüp yöneticisi arkaplan resmini buradan değiştirebilecek...");
        });

/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- File to base64
        //document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);


    </script>

{% endblock %}

