{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Profile{% endblock %}


{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->

    <section class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:user:profile_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="profile-content col-md-10">

                <!-- MAIL PANEL HEADER -->
                <div class="profile-content-header"></div>

                <!-- MAIL PANEL BODY -->
                <div class="profile-content-body">
                    <div class="fade active in">
                        <div class="col-sm-12 align-left">
                            <h6>Şifre Değiştirme İşlemleri</h6>

                            <div>
                                <form action="{{ path('user_profile_password') }}" method="post">

                                    <div class="col-sm-6 col-md-5 align-left">
                                        <fieldset>
                                            <label for="oldpassword">Eski Şifreniz</label>
                                            <input id="oldpassword" name="oldPassword" type="password">
                                        </fieldset>

                                        <fieldset>
                                            <label for="newpassword">Yeni Şifreniz</label>
                                            <input id="newpassword" name="newPassword" type="password">
                                        </fieldset>

                                        <fieldset>
                                            <label for="newpasswordrep">Yeni Şifreniz Tekrar</label>
                                            <input id="newpasswordrep" name="newPasswordRep" type="password">
                                        </fieldset>

                                    </div>

                                    <fieldset class="col-sm-12">
                                        <input type="submit" class="btn btn-rounded btn-sm" value="Kaydet">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>

                </div> <!-- .profile-content-body ends -->
            </div> <!-- .profile-content -->


        </div>
    </section>


{% endblock %}





{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;
        var error_msg = '{% if error_msg is defined %}{{ error_msg|json_encode|raw }}{% endif %}';
        var success_msg = '{% if success_msg is defined %}{{ success_msg|json_encode|raw }}{% endif %}';


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- Operation Result Message
        if(success_msg){
            toastr.success(success_msg);
        }else if(error_msg){
            toastr.error(error_msg);
        }

    </script>

{% endblock %}

