{% extends 'AppBundle::main_base.html.twig' %}

{% block title %}Guppy - Profile{% endblock %}


{% block content %}

    <!-- --------------------------------------------- -->
    <!-- ------------------ CONTENT ------------------ -->
    <!-- --------------------------------------------- -->

    <section class="guppy-section align-center">
        <div class="container">

            <!-- -------------- SIDEBAR -------------- -->
            {{ include('AppBundle:user:profile_sidebar.html.twig') }}


            <!-- -------------- CONTENT -------------- -->
            <div class="community-content col-md-10">

                <div class="community-content-header"></div>


                <div class="community-content-body">

                    <div class="fade active in">
                        <div class="col-sm-12 align-left">
                            <h6>Kullanıcı şifre değiştirme</h6>
                            <p>Eski şifre ile yeni şifre alınır </p>
                        </div>

                    </div>

                </div><!-- community-content-body end -->

            </div>
        </div>
    </section>


{% endblock %}





{% block javascriptcontent %}
    <script>

/***********************************************************************************************************************
 *                                          LOCAL VARIABLE
 **********************************************************************************************************************/
        var debugMode = true;


/***********************************************************************************************************************
 *                                          UTIL FUNCTIONS
 **********************************************************************************************************************/

        function fileToBase64Converter() {
            if (this.files && this.files[0]) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    $('#img_viewer').attr('src', e.target.result);
                    $('#university_image_base64').val(e.target.result);
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

/***********************************************************************************************************************
 *                                          AJAX OPERATIONS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          EVENTS
 **********************************************************************************************************************/


/***********************************************************************************************************************
 *                                          DOCUMENT ON READY
 **********************************************************************************************************************/

        // -- File to base64
        //document.getElementById("temp_img_loader").addEventListener("change", fileToBase64Converter, false);


    </script>

{% endblock %}

